[submodule "components/esp32-button"]
	path = components/esp32-button
	url = https://github.com/craftmetrics/esp32-button.git
[submodule "components/LovyanGFX"]
	path = components/LovyanGFX
	url = https://github.com/zeroleaked/LovyanGFX.git
